* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f2f6ff;
}

.card-container {
  display: flex;
  margin-left: 200px;
  position: relative;
  transition: 0.2s ease-in-out;
}

.card-container:hover {
  transform: rotateY(25deg);
  -webkit-transform: rotateY(25deg);
  gap: 20px;
}

.card {
  width: 310px;
  height: 210px;
  cursor: pointer;
  border-radius: 30px;
  backdrop-filter: blur(20px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-one {
  background: radial-gradient(
    218.51% 281.09% at 100% 100%,
    rgba(253, 63, 51, 0.6) 0%,
    rgba(76, 0, 200, 0.6) 45.83%,
    rgba(76, 0, 200, 0.6) 100%
  );
  box-shadow: rgba(39, 77, 153, 0.2) 0px 30px 60px,
    rgba(255, 255, 255, 0.3) 0px 0px 0px 0.5px inset;
  z-index: 9;
  position: relative;
  bottom: 0;
  transition: 0.5s ease-in-out;
}

.card-one:hover {
  bottom: 50px;
}

.card-two {
  background: radial-gradient(
    100% 128.38% at 100% 100%,
    rgba(51, 168, 253, 0.2) 0%,
    rgba(76, 0, 200, 0.2) 100%
  );
  box-shadow: rgba(39, 77, 153, 0.2) 0px 30px 60px,
    rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px inset;
  position: absolute;
  left: 220px;
  top: 15px;
  z-index: 7;
  transition: 0.5s ease-in-out;
}

.card-two:hover {
  top: -60px;
}

.card-three {
  background: radial-gradient(
    120% 154.37% at 100% 100%,
    rgba(51, 253, 241, 0.1) 0%,
    rgba(200, 96, 0, 0.1) 100%
  );
  box-shadow: rgba(39, 77, 153, 0.2) 0px 30px 60px,
    rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px inset;
  position: absolute;
  left: 300px;
  top: 25px;
  z-index: 5;
  transition: 0.5s ease-in-out;
}

.card-three:hover {
  top: -60px;
}

.card-four {
  background: linear-gradient(rgb(117, 224, 230) 0%, rgb(57, 19, 184) 100%);
  box-shadow: rgba(39, 77, 153, 0.2) 0px 30px 60px,
    rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px inset;
  position: absolute;
  left: 370px;
  top: 35px;
  z-index: 3;
  transition: 0.5s ease-in-out;
}

.card-four:hover {
  top: -60px;
}

.card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0px;
  color: white;
}

.card-sub-heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  margin: 0px;
  color: rgba(255, 255, 255, 0.7);
}

.card-footer {
  display: grid;
  gap: 8px;
}

.footer-one {
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background: white;
  opacity: 0.3;
}

.footer-two {
  width: 90px;
  height: 4px;
  border-radius: 2px;
  background: white;
  opacity: 0.3;
}

.footer-three {
  width: 80px;
  height: 4px;
  border-radius: 2px;
  background: white;
  opacity: 0.3;
}

.footer-four {
  width: 120px;
  height: 6px;
  border-radius: 2px;
  background: white;
  opacity: 0.4;
}
